@using CMS.Models;
@model IEnumerable<EmployeeListViewModel>
@{
    ViewData["Title"] = "AIH";
}

<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">Dashboard</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Info box -->
    <!-- ============================================================== -->
    <!-- /row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <form asp-action="Index" method="get" id="formMain">
                        <div class="row show-grid">
                            <div class="col-xs-6 col-sm-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <input type="date" value="@ViewBag.fDate" name="frDate" id="frDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <input type="date" value="@ViewBag.tDate" name="toDate" id="toDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-lg-3 col-xl-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Filter</button>
                                    <button class="btn btn-success" id="btn-export" type="button">Export</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <div class="table-responsive m-t-40">
                        <table id="allemployee" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.employee_nr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name_l)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.sex_rcd)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.phone_number)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.email_business)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.emp_status_name_e)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- ============================================================== -->
    <!-- End Page Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#allemployee').DataTable({
                "pagingType": "full_numbers"
            });
            var date = new Date();

            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            var frDate = year - 1 + "-" + month + "-" + day;
            var toDate = year + "-" + month + "-" + day;

            if ($('#frDate').val().length == 0)
                $('#frDate').val(frDate);

            if ($('#toDate').val().length == 0)
                $('#toDate').val(toDate);            
        });
        $('#btn-export').on('click', function () {
            $.ajax({
                type: "POST",
                url: "/Home/ExportExcel",
                data: {
                    frDate: $('#frDate').val(),
                    toDate: $('#toDate').val()
                },
                beforeSend: function () {
                    //tedu.startLoading();
                },
                success: function (response) {
                    window.location.href = response;
                    //tedu.notify('success progress', 'success');
                    //tedu.stopLoading();
                },
                error: function () {
                    //tedu.notify('Has an error in progress', 'error');
                    //tedu.stopLoading();
                }
            });
        });
    </script>
}